*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  font-family: 'Fredoka', sans-serif;
}


/* GENERAL */

h1{
  font-size: 25px;
  color: #E53170;
  font-weight: bold;
  
}

.desc{
  text-align: center;
  font-size: 18px;
  margin-bottom: 30px;
  padding: 0px 10px;

}


.titolo{
 height: 70px;
 width: 100%;
 text-align: center;
 line-height: 70px; 
 margin-bottom: 20px;
}

/* FINE HEADER  */

.contenitore-general{
  margin: 0 auto;
  height: 600px;
  width: 80%;
}

.contenitore-all{
  height: 95%;
  width: 95%;
  margin: auto;
  

}

/* FINE PARAGRAFO  */

.clearfix::after{
content:'';
display: table;
clear:both;
}

.row .col{
  width: calc(100% / 3);
  float: left;
  padding: 0px 10px;
  min-width: 320px;   
  margin-bottom: 50px;
}

.row .col .card{
  background-color: #0F0E17;
  width: 100%;
  box-shadow: 0 0 5px #000;
}

.row .col .card img{
  width: 100px;
  float: left;
}
.col .card .contenitore-dati{
  float: right;
  width: calc(100% - 100px);
  padding-left: 15px;
  padding-top: 10px;
  
  }

  .card .nome{
    color: #FFFFFE;
    font-size: 1.3rem;
    text-transform: uppercase;
  }

  .card .ruolo{
    color: #FFFFFE;
    padding: 7px 0px;

  }

  .card .mail{
    text-decoration: none;
    color: #3AADE5;
  }